.cell-speed-color {
	color: blue;
}

.cell-main-color {
	color: rgb(37, 172, 32);
}

.cell-tmp-color {
	color: brown;
}

.cell-power-color {
	color: coral;
}

/*background*/
.cell-speed-style {
	background: linear-gradient(rgb(95, 153, 240), rgb(231, 220, 222));
	border-color: rgb(0, 0, 255);
}

.cell-main-style {
	background: linear-gradient(rgb(130, 223, 134), rgb(231, 220, 222));
	border-color: rgb(3, 172, 26);
}

.cell-tmp-style {
	background: linear-gradient(rgb(218, 148, 148), rgb(231, 220, 222));
	border-color: rgb(204, 31, 31);
}

.cell-power-style {
	background: linear-gradient(rgb(216, 177, 126), rgb(231, 220, 222));
	border-color: rgb(255, 68, 0);
}

/*font color*/
.cell-speed-font {
	color: rgb(0, 0, 0);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cell-main-font {
	color: rgb(0, 0, 0);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cell-tmp-font {
	color: rgb(0, 0, 0);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cell-power-font {
	color: rgb(0, 0, 0);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}