.grow {
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.2s;
    text-align: center;
    overflow: hidden;
}

.grow:hover {
    height: 145px;
}

.grow-width {
    position: relative;
    transition: width 0.5s;
    -webkit-transition: width 0.2s;
    text-align: center;
    overflow: hidden;
}

.grow-width:hover {
    width: 445px;
}
