@import "../assets/common.module.scss";

.cell_value {
    text-align: right;
    float: right;
    margin: auto;

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-right: 2px;
}

.align_center{
    text-align: "center";
}

.absolute{
    position: absolute;
}

.baseline{
    display: flex;
    align-items: baseline;
}

.tare{
    width: 50px;
    height: 10px;
}

.cell_control_panel_row {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    z-index: 10;
}