@use "sass:map";
@import "./variables.scss";

.flex {
    display: flex;
    flex-direction: row;
}

.vertical_align {
    display: inline-block !important;
    vertical-align: middle !important;
    height: auto;
}

.horizontal_padding {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.horizontal_flex{
    display: flex;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
}

.app_label {
    text-align: center;
    width: 100%;
    user-select: none;
}

.padding_10{
    padding: 10px;
}

.width_percents_100 {
    width: 100%
}

.width_percents_50 {
    width: 50%
}

.width_percents_25 {
    width: 25%
}

.height_percents_100 {
    height: 100%
}

.height_percents_50 {
    height: 50%
}

.height_percents_25 {
    height: 25%
}
